{% extends 'core/base.html' %}
{% load core_tags %}
{% load widget_tweaks %}
{% load static %}

{% block titulo %}
    <h4 class="title semibold">Editando OS: #{{ ordemservico.os_id }}</h4>
{% endblock %}

{% block toolbar %}
          <div class="toolbar">
             <ol class="breadcrumb breadcrumb-transparent nm">
                 <li><a href="/">Desktop</a></li>
                 <li><a href="{% url 'servicos:ordemservicos_index' %}">Ordem de Serviço</a></li>
                 <li class="active">Editando</li>
              </ol>
           </div>
      {% endblock %}


{% block content %}
<div class="row">
                    <div class="col-md-2">
                  		<ul class="nav nav-pills nav-stacked">
                  			<li>
                  				<a href="{% url 'servicos:ordemservicos_index' %}">Ordens de Serviço</a>
                  			</li>
                  			<li>
                  				<a href="{% url 'clientes:clientes_index' %}">Clientes</a>
                  			</li>
                  			<li>
                  				<a href="{% url 'dispositivos:dispositivos_index' %}">Dispositivos</a>
                  			</li>
                  		</ul>
                    </div>

                                       <div class="col-sm-10">
                    	<div class="row">
                   			<div class="col-sm-9">

		                    	<form class="panel panel-default" accept-charset="ISO-8859-1" method="post">
		                    	{% csrf_token %}
		                    		<div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">Cliente</label>
                                                    <input id="cliente_id" hidden name="cliente" value="{{ form.cliente.value }}">
                                                    <input id="pes_nome" disabled class="form-control" value="{{ ordemservico.cliente.pes_nome }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">Dispositivo(s)</label>
                                                     <input id="dispositivos_id" hidden name="dispositivos" value="{{ form.dispositivos.value }}">
                                                    <input id="disp_modelo" disabled class="form-control" value="{{ ordemservico.dispositivos.modelo }}">
                                                </div>
                                            </div>
                                            <div class="form-group valor">
                                                <label class="control-label col-md-4">Orçamento</label>
                                                <div class="col-sm-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">R$</span>
                                                        {% render_field form.orcamento|append_attr:"" type="text" maxlength="7" class="form-control" %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
		                    			<div>
		                    				<div class="row">
                                                <div class="col-sm-4">
			                    					<div class="form-group">
		                    							<label class="control-label">Tipo de Serviço</label>
                                                        {% render_field form.tipo_servico|append_attr:"" class="form-control" type="text" %}
		                    						</div>
			                    				</div>
		                    					<div class="col-sm-4">
		                    						<div class="form-group">
                                                        <label class="control-label">Status da O.S</label>
                                                            {{ form.status|addcss:"form-control" }}
		                    						</div>
		                    					</div>
		                    				</div>
		                    			</div>
		                    			<div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Acessórios(dispositivo)</label>
                                                        <div class="form-check">
                                                            {% render_field  form.acessorios|append_attr:"disabled:disabled"  %}
                                                        </div>
                                                    </div>
                                                </div>
		                    					<div class="col-sm-4">
		                    						<div class="form-group">

                                                    </div>
		                    					</div>
		                    				</div>
		                    			</div>
		                    			<div class="form-group motivo-group">
		                    				<div class="row">
			                    				<div class="col-sm-12">
			                    					<label class="control-label">Observação:</label>
			                    					{{ form.descricao }}
			                    				</div>
		                    				</div>
		                    			</div>
		                    			<div class="row text-center form-group">
		                    				<div class="col-md-4 col-md-offset-4 col-sm-12">
		                    					<button id="salvar" type="submit" class="btn btn-primary w100p"><span class="ico-edit mr5"></span>Salvar </button>
		                    				</div>
		                    			</div>
		                    		</div>

		                    		<div class="modal fade" id="opcoesModal" tabindex="-1" role="dialog" aria-labelledby="opcoesModal">
									  	<div class="modal-dialog" role="document">
									    	<div class="modal-content">
									      		<div class="modal-header">
									        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									        		<h4 class="modal-title" id="myModalLabel">Opções para o cálculo da rescisão</h4>
									      		</div>
									      		<div class="modal-body">
									      			<div class="row">
									      				<div class="col-sm-8 col-sm-offset-2">
									      					<div class="form-group">
												      			<span class="checkbox custom-checkbox custom-checkbox-inverse">
												      				<input type="checkbox" name="calcSalSal" id="calcSalSal" class="opcao-check todos">
												      				<label class="ml5" for="calcSalSal">&nbsp;&nbsp;Calcular Saldo de Salário</label>
												      			</span>
												      			<span class="checkbox custom-checkbox custom-checkbox-inverse">
												      				<input type="checkbox" name="calcFerVen" id="calcFerVen" class="opcao-check todos">
												      				<label class="ml5" for="calcFerVen">&nbsp;&nbsp;Calcular Férias Vencidas</label>
												      			</span>
												      			<span class="checkbox custom-checkbox custom-checkbox-inverse">
												      				<input type="checkbox" name="calcFerPro" id="calcFerPro" class="opcao-check todos">
												      				<label class="ml5" for="calcFerPro">&nbsp;&nbsp;Calcular Férias Proporcionais</label>
												      			</span>
												      			<span class="checkbox custom-checkbox custom-checkbox-inverse">
												      				<input type="checkbox" name="calcFerAvi" id="calcFerAvi" class="opcao-check">
												      				<label class="ml5" for="calcFerAvi">&nbsp;&nbsp;Calcular Férias sobre Aviso Prévio Indenizado</label>
												      			</span>
												      			<span class="checkbox custom-checkbox custom-checkbox-inverse">
												      				<input type="checkbox" name="calcDecPro" id="calcDecPro" class="opcao-check todos menos-justa-causa">
												      				<label class="ml5" for="calcDecPro">&nbsp;&nbsp;Calcular Décimo Terceiro Proporcional</label>
												      			</span>
												      			<span class="checkbox custom-checkbox custom-checkbox-inverse">
												      				<input type="checkbox" name="calcDecAvi" id="calcDecAvi" class="opcao-check">
												      				<label class="ml5" for="calcDecAvi">&nbsp;&nbsp;Calcular Décimo Terceiro sobre Aviso Prévio Indenizado</label>
												      			</span>
												      			<span class="checkbox custom-checkbox custom-checkbox-inverse">
												      				<input type="checkbox" name="calcSalFam" id="calcSalFam" class="opcao-check O02 O07">
												      				<label class="ml5" for="calcSalFam">&nbsp;&nbsp;Calcular Salário Familia</label>
												      			</span>
												      			<span class="checkbox custom-checkbox custom-checkbox-inverse">
												      				<input type="checkbox" name="calcIrfFer" id="calcIrfFer" class="opcao-check">
												      				<label class="ml5" for="calcIrfFer">&nbsp;&nbsp;Calcular IRRF sobre férias</label>
												      			</span>
												      			<span class="checkbox custom-checkbox custom-checkbox-inverse">
                                                                    <input type="checkbox" name="calcMedias" id="calcMedias" class="opcao-check">
                                                                    <label class="ml5" for="calcMedias">&nbsp;&nbsp;Calcular Médias sobre Aviso, 13º e Férias</label>
                                                                </span>
									      					</div>
									      				</div>
							      					</div>
									      		</div>
									      		<div class="modal-footer">
									        		<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
									      		</div>
									      	</div>
									    </div>
									</div>
		                    	</form>
	                    	</div>
	                   	</div>
                    </div>

</div>

{% endblock %}

{% block javascript %}
     <script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>

    <script>
        $('.dinheiro').mask('#.##0,00', {reverse: true});
        $('.telefone').mask('(00) 0 0000-0000');
        $('.cpf').mask('000-000.000-00');
    </script>

     <script type="text/JavaScript">

       function getDispositivo() {

            //get a reference to the select element
            var $select = $('#id_dispositivos');
            //request the JSON data and parse into the select element
            var cliente_id = ($("select[name='cliente'] option:selected").attr('value'));
            var c_url = "/api/get_dispositivo/" + cliente_id;

            $.ajax({
                url: c_url,
                dataType: 'JSON',
                success: function (data) {
                    //clear the current content of the select
                    $select.html('');
                    //iterate over the data and append a select option

                    $.each(data, function (key, val) {
                        $select.append('<option value="' + val.disp_id + '">' + val.modelo + '</option>');
                    })
                },

            });

        }
    </script>


{% endblock %}
