{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    <h4 class="title semibold">Clientes</h4>
{% endblock %}

{% block toolbar %}
    <div class="toolbar">
        <ol class="breadcrumb breadcrumb-transparent nm">
            <li><a href="/">Desktop</a></li>
            <li class="active">Clientes</li>
        </ol>
    </div>
{% endblock %}

{% block content %}



    <!-- Page Header -->
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="{% url 'clientes:clientes_index' %}">Clientes</a>
                </li>
                <li>
                    <a href="{% url 'dispositivos:dispositivos_index' %}">Dispositivos</a>
                </li>
                <li>
                    <a href="{% url 'servicos:ordemservicos_index' %}">Ordem de Serviço</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h3 class="panel-title ellipsis">Todos os clientes</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <input id="buscaNome" type="text" placeholder="Buscar por nome"
                                   class="form-control filtro">
                        </div>
                        <div class="col-sm-8 form-group" align="right"><a class="btn btn-success" href="{% url 'clientes:clientes_add' %}"><span
                                class="glyphicon glyphicon-plus"></span> Adicionar</a></div>
                    </div>

                    <div id="tabela-clientes">
                        <div class="table-responsive">


                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Celular</th>
                                    <th>Últ. Atualização</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for cliente in clientes %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'clientes:clientes_detail' pk=cliente.pk %}">{{ cliente.pk}}</a><br>
                                        </td>
                                        <td>
                                            {{ cliente.pes_nome|upper }}
                                        </td>

                                        <td>
                                        {{ cliente.pes_celular }}
                                        </td>
                                        <td>
                                            {{ cliente.updated_at|date:'d/m/y H:i' }}
                                        <td>
                                            <a class="btn btn-default btn-sm" href="{% url 'clientes:clientes_edit' pk=cliente.pk %}"><span class="ico-pencil6"></span></a>
                                            <a class="btn btn-info btn-sm" href="{% url 'clientes:clientes_detail' pk=cliente.pk %}"><span class="ico-eye-open"></span></a>
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                         <!-- Paginacao -->
                        <div class="row">
                            <div class="col-sm-12">
                                {% if clientes.has_other_pages %}
                                    <ul class="pagination">
                                        {% if clientes.has_previous %}
                                            <li class="active">
                                                <a href="?page={{ clientes.previous_page_number }}"
                                                   aria-label="Anterior">
                                                    <span class="glyphicon glyphicon-chevron-left"></span> Anterior
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="disabled">
                                                <a href="#" aria-label="Anterior">
                                                    <span class="glyphicon glyphicon-chevron-left"></span> Anterior
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for i in clientes.paginator.page_range %}
                                            {% if clientes.number == i %}
                                                <li class="active"><a href="javascript:void(0);">{{ i }}</a></li>
                                            {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if clientes.has_next %}
                                            <li class="enabled">
                                                <a href="?page={{ clientes.next_page_number }}"
                                                   aria-label="Próximo">
                                                    <span class="glyphicon glyphicon-chevron-right"></span> Próximo
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="disabled">
                                                <a href="javascript:void(0);" aria-label="Próximo">
                                                    <span class="glyphicon glyphicon-chevron-right"></span> Próximo
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        <!--./ Paginacao -->

                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock %}